In [3]:
import pandas as pd
import numpy as np

In [4]:
anime = pd.read_csv("../Data/ANIMES.csv")

In [29]:
anime.columns

Index(['ANIME_ID', 'ANIME_NAME', 'SCORE', 'SYNOPSIS', 'EPISODES',
       'EMISION_STATUS', 'SOURCE', 'ANIME_RANK', 'POPULARITY', 'FAVORITES',
       'SCORED_BY', 'MEMBERS', 'IMAGE_URL', 'EMISSION', 'CLOSURE', 'ID_TYPE',
       'ID_RATING'],
      dtype='object')

## ANIME

In [30]:
anime[["ANIME_ID","ANIME_NAME","SCORE","EPISODES","EMISION_STATUS","SOURCE","POPULARITY","FAVORITES","SCORED_BY","MEMBERS","EMISSION","CLOSURE","ID_TYPE","ID_RATING"]].to_csv("./tables_olap/ANIME.csv", index=False)

## TYPE

In [5]:
typed = pd.read_csv("../Data/CATALOG_TYPE.csv")

In [32]:
typed.to_csv("./tables_olap/TYPE.csv", index=False)

## RATINGS

In [6]:
ratings =  pd.read_csv("../Data/CATALOG_RATING.csv")

In [34]:
ratings.to_csv("./tables_olap/RATINGS.csv", index=False)

## GENRE

In [7]:
genre = pd.read_csv("../Data/CATALOG_GENRES.csv")

In [36]:
genre.to_csv("./tables_olap/GENRE.csv", index=False)

## PRODUCTORS

In [8]:
productors = pd.read_csv("../Data/CATALOG_PRODUCERS.csv")

In [38]:
productors.to_csv("./tables_olap/PRODUCTORS.csv", index=False)

## Hechos

In [30]:
hechos = pd.read_csv("../Data/rank_anime.csv")

In [31]:
hechos

,USER_ID,ANIME_ID,EMISSION,JOINED,RATING,DATE_RATING
0,9,60,2003-11-25,2004-12-05,8,2007-09-18 03:55:03
1,9,99,2005-10-07,2004-12-05,8,2009-03-21 08:52:08
2,9,49,1993-02-21,2004-12-05,9,2009-06-16 23:49:35
3,9,304,2000-10-21,2004-12-05,10,2005-08-05 21:41:00
4,9,53,2002-04-11,2004-12-05,8,2006-04-28 01:44:03
...,...,...,...,...,...,...
9349621,552069,30187,2015-10-08,2011-08-22,3,2017-11-19 16:23:35
9349622,552069,31540,2016-01-08,2011-08-22,5,2017-11-02 03:23:41
9349623,552069,16239,2012-12-15,2011-08-22,4,2016-07-28 16:20:47
9349624,552069,12419,2012-01-03,2011-08-22,4,2013-12-03 12:58:09
9349625,552069,20449,2014-10-22,2011-08-22,7,2018-05-30 23:12:59

In [33]:
anime_gerne =  pd.read_csv("../Data/ANIME_GENRE.csv")

In [34]:
anime_gerne

       ID_ANIME  ID_GENRE
0             7         0
1             7         1
2             7         2
3             7         3
4             8         3
...         ...       ...
40332     55733         4
40333     55733         5
40334     55733        10
40335     55734        20
40336     55735        20

[40337 rows x 2 columns]

In [35]:
genre

    ID_GENRE          GENRE
0          0         Action
1          1          Drama
2          2        Mystery
3          3   Supernatural
4          4      Adventure
5          5        Fantasy
6          6         Comedy
7          7        Romance
8          8  Slice of Life
9          9         Sports
10        10         Sci-Fi
11        11          Ecchi
12        12        Gourmet
13        13  Award Winning
14        14         Horror
15        15     Girls Love
16        16       Suspense
17        17      Boys Love
18        18         Hentai
19        19    Avant Garde
20        20        UNKNOWN
21        21        Erotica

In [36]:
# Realizar los joins utilizando join
hechos = hechos.join(anime_gerne, how='left', lsuffix='_hechos', rsuffix='_anime_genre')

In [39]:
hechos = hechos.drop(columns=["ID_ANIME"])

In [42]:
anime_productors = pd.read_csv("../Data/ANIME_PRODUCTORS.csv")
anime_productors

       ID_ANIME  ID_PRODUCER
0             7            0
1             7            1
2             7            2
3             7            3
4             8            1
...         ...          ...
34914     55731            9
34915     55732            9
34916     55733            9
34917     55734            9
34918     55735            9

[34919 rows x 2 columns]

In [43]:
# Realizar los joins utilizando join
hechos = hechos.join(anime_productors, how='left', lsuffix='_hechos', rsuffix='_anime_genre')

In [47]:
hechos.to_csv("./tables_olap/HECHOS.csv", index=False)