In [127]:
import os
import pandas as pd

## Carga

In [128]:
animes = pd.read_csv('./DATA/animes.csv').rename(columns={ 'anime_id':'ANIME_ID', 'Name':'ANIME_NAME', 'Score':'SCORE', 'Genres':'GENRES', 'Synopsis':'SYNOPSIS', 'Type':'TYPE', 'Episodes':'EPISODES', 'Status':'EMISION_STATUS', 'Source':'SOURCE', 'Rating':'RATING', 'Rank':'ANIME_RANK', 'Popularity':'POPULARITY', 'Favorites':'FAVORITES', 'Scored By':'SCORED_BY', 'Members':'MEMBERS', 'Image URL':'IMAGE_URL', 'Sec duration':'SEC DURATION', 'Emision':'EMISSION', 'Cierre':'CLOSURE', })
users = pd.read_csv('./DATA/users.csv').rename(columns={'Mal ID':'USER_ID', 'Username':'USER_NAME', 'Joined':'JOINED', 'Days Watched':'DAYS_WATCHED', 'Mean Score':'MEAN_SCORE', 'Watching':'WATCHING', 'Completed':'COMPLETED', 'On Hold':'ON_HOLD', 'Dropped':'DROPPED', 'Plan to Watch':'PLAN_TO_WATCH', 'Total Entries':'TOTAL_ENTRIES', 'Rewatched':'REWATCHED', 'Episodes Watched':'EPISODES_WATCHED', })
ratings = pd.read_csv('./DATA/ratings.csv').rename(columns={'user_id':'USER_ID','anime_id':'ANIME_ID','rating':'RATING'})

In [129]:
catalogos = { x.replace('CATALOG_','').replace('.csv',''):pd.read_csv(f'./DATA/{x}') for x in os.listdir('./DATA') if 'CATALOG' in x}

## Creacion de las tablas

In [130]:
catalogos['GENRES'].head(2)

   ID_GENRE   GENRE
0         0  Action
1         1   Drama

In [131]:
animes['GENRES'] = animes['GENRES'].map(lambda x: list(map(lambda y:y.strip(), x.split(',') )))

In [132]:
ANIME_GENRE = pd.DataFrame(animes[['ANIME_ID','GENRES']].apply( lambda x: (x['ANIME_ID'],list(catalogos['GENRES'][catalogos['GENRES']['GENRE'].isin(x['GENRES'])]['ID_GENRE'])) , axis  = 1 ).to_list(),columns=['ID_ANIME','ID_GENRE']).explode('ID_GENRE')

In [133]:
catalogos['PRODUCERS'].head(2)

   ID_PRODUCER           NAME
0            0  Bandai Visual
1            1         Dentsu

In [134]:
users.head(1)

,Unnamed: 0,USER_ID,USER_NAME,JOINED,DAYS_WATCHED,MEAN_SCORE,WATCHING,COMPLETED,ON_HOLD,DROPPED,PLAN_TO_WATCH,TOTAL_ENTRIES,REWATCHED,EPISODES_WATCHED
0,3,9,Arcane,2004-12-05 00:00:00+00:00,30.0,7.71,5.0,54.0,4.0,3.0,0.0,66.0,0.0,1817.0

In [135]:
animes['Producers'] = animes['Producers'].map(lambda x: list(map(lambda y:y.strip(), x.split(',') )))

In [136]:
ANUME_PRODUCER=pd.DataFrame(animes[['ANIME_ID','Producers']].apply( lambda x: (x['ANIME_ID'],list(catalogos['PRODUCERS'][catalogos['PRODUCERS']['NAME'].isin(x['Producers'])]['ID_PRODUCER'])) , axis  = 1 ).to_list(),columns=['ID_ANIME','ID_PRODUCER']).explode('ID_PRODUCER')

In [137]:
mapping_dict = dict(zip(catalogos['TYPE']['CODE'], catalogos['TYPE']['ID_TYPE']))

In [138]:
animes['ID_TYPE'] = animes['TYPE'].apply( lambda x: [v for k,v in mapping_dict.items() if k in x][0] )

In [139]:
mapping_dict2 = dict(zip(catalogos['RATING']['RATING'], catalogos['RATING']['ID_RATING']))

In [140]:
animes['ID_RATING'] = animes['RATING'].apply( lambda x: [v for k,v in mapping_dict2.items() if k in x][0] )

## Transformacion a csv's

In [149]:
animes[['ANIME_ID', 'ANIME_NAME', 'SCORE', 'SYNOPSIS', 'EPISODES', 'EMISION_STATUS', 'SOURCE','ANIME_RANK', 'POPULARITY', 'FAVORITES', 'SCORED_BY', 'MEMBERS', 'IMAGE_URL', 'EMISSION', 'CLOSURE', 'ID_TYPE', 'ID_RATING']].to_csv('./outputs/ANIMES.csv',index=False)

In [154]:
users[['USER_ID','USER_NAME','JOINED','DAYS_WATCHED','MEAN_SCORE','WATCHING','COMPLETED','ON_HOLD','DROPPED','PLAN_TO_WATCH','TOTAL_ENTRIES','REWATCHED','EPISODES_WATCHED']].to_csv('./outputs/USERS.csv',index=False)

In [151]:
ratings.to_csv('./outputs/WATCHED_ANIMES.csv',index=False)

In [152]:
ANIME_GENRE.to_csv('./outputs/ANIME_GENRE.csv',index=False)

In [153]:
ANUME_PRODUCER.to_csv('./outputs/ANIME_PRODUCTORS.csv',index=False)