In [3]:
import pandas as pd

/tmp/ipykernel_32325/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df_relation = pd.read_csv('./TABLAS/ANIME_RELATION.csv')
df_relation

       ID_ORIGEN  ID_RELATION        TYPE_RELATION
0          32281        99314           Adaptation
1          32281       111747           Adaptation
2          32281        33902                Other
3           5114           25           Adaptation
4           5114          121  Alternative version
...          ...          ...                  ...
18162      34399        88374           Adaptation
18163      34399       101589           Adaptation
18164      34399        31652              Prequel
18165       5621         6133               Sequel
18166       6133         5621              Prequel

[18167 rows x 3 columns]

In [9]:
pd.DataFrame(df_relation['TYPE_RELATION'].unique()).to_csv('./TABLAS/RELATION.csv')